<%= form_for(@article, html: {multipart: true}) do |f|  %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end  %>
  </ul>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :image, "Attach an Image" %><br/ >
    <%= f.file_field :image %>
  </p>
  <p>
    <% if @article.image.exists? %>
     <%= image_tag @article.image.url %><br/>
    <% end %>

    <%= f.label :tag_list, "Tag List" %>
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.submit @article.new_record? ? "Create New Article": "Update Article" %>
  </p>
<% end  %>